@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
header{
    
    background-color: rgba(186, 50, 50,0.5) ;
    color:white;
    font-size:4rem;
    width:100%;
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    z-index: 20;
}
#logo{
    border-radius: 13rem;
}
body{
    background-image: url("bg1.jpg");
    
    
    background-size: cover;
    
}
#navbar{
    position: sticky;
    top: 0px;
    transition: 0.4s;
    display: flex;
   flex-direction: row;
}

#navlinks{
    margin-left:20rem;
    background-color: rgba(240, 248, 255,0.2);
    border-radius: 2rem;
   display: flex;
   flex-direction: row;
   
}
a{
    color: white;
    font-size:2.2rem;
    text-decoration: none;
    margin-left: 1rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    
    padding: 1rem;
    transition:0.3s;
    border-radius: 2rem;
   margin-top: 2%;
   margin-bottom: 2%;
    height: inherit;
}
a:hover{
    font-size:2.3rem;
    background-color: rgba(248, 248, 255,0.3);
}
.highlight{
    background-color: rgba(248, 248, 255,0.3);
}
#logform{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:30%;
    margin:auto;
    padding:2rem;
    border: 2px solid black;
    margin-top:4rem;
    background-color: rgba(244,111, 122, 0.4);
    backdrop-filter:  blur(10px);
    font-size: 1rem;
}
.logbtn,.logfields{
    margin: 0.5rem;
}
.logbtn{
    text-align: center;
    font-size: 1rem;
    background-color: rgb(15, 13, 13);
    color: aliceblue;
    padding: 0.2rem;
    border-radius: 0.6rem;
}
.logfields{
    font-size: 1.2rem;
    padding: 0.5rem;
    
}
#logshowpass{
    display: none;
   position:fixed;
   top:53.56%;
   left:100%;
   width:8%;
   
}
#signform{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    background-color: rgba(56, 97, 221, 0.2);
    backdrop-filter: blur(30px);
    padding:2rem;
    padding-top: 1rem;
    margin-top:1rem;
}
#username,#lname{
    width: 50%;
}
#address{
    width:75%;
}
#pin{
    height: 3rem;
    margin-top:1.5rem;
}
#signupanchor{
    margin-right: 1rem;
}
#telnumber{
    width:50%;
}
#male,#female
{
    font-size: 1.5rem;
    color:white;
    text-shadow: -1.1px -1.1px 0 #000,  
    1.1px -1.1px 0 #000,
   -1.1px  1.1px 0 #000,
    1.1px  1.1px 0 #000;
    letter-spacing: 0.5px;
 
}

#gdiv{
    display: flex;
    align-items: center;
}
.radio{
    margin-right: 5px;
}
.radio,#male,#female{
    padding: 12px;
}